{%include "head.html"%}
{% load i18n %}
{% load static %}

<body>
	{% include "HeaderMenu.html"%}
  <div class ="ui main container">
	<div class = "ui grid">
    {% if request.user.id %}
      <a  href="/community/C/write/" class="ui primary button" style="margin-top:10px;margin-left:75rem;width:100px;font:white" ><i class="write icon"></i>发帖</a>
    {% else %}
          <a  href="login" class="ui primary button" style="margin-top:10px;margin-left:75rem;width:100px;font:white" ><i class="write icon"></i>发帖</a>
  </div>
  {% endif %}
  <div class = "ui divider" style="margin-top:30px"></div>
<!-- part I -->
    {% for article in articles %}
      {% include 'part_article.html' with article=article%}
    {% empty %}
      <h4 class="ui header">{% trans 'There is no published article yet' %}.<a href="/community/C/write">{% trans 'Be the first one to publish' %}!</a></h4>
    {% endfor %}
<!-- End Part I -->
</div>

</body>

