{%include "head.html"%}
{% load i18n %}
{% load static %}
<body>
	{% include "HeaderMenu.html"%}
  <div class ="ui main container">
	<div class = "ui grid">
      <button class="ui primary button" style="margin-top:10px;margin-left:75rem" ><i class="write icon"></i><a href="{% url 'write' %}" style="text-decoration:none">发帖</a></button>
  </div>
  <div class = "ui divider" style="margin-top:30px"></div>
<!-- part I -->
    {% for article in articles %}
      {% include 'part_article.html' with article=article%}
    {% empty %}
      <h4 class="ui header">{% trans 'There is no published article yet' %}.<a href="{% url 'write' %}">{% trans 'Be the first one to publish' %}!</a></h4>
    {% endfor %}
<!-- 	<div class="ui styled fluid accordion">
  <div class="title"><i class="dropdown icon"></i>What is a dog? </div>
  <div class="content">
    <p class="transition hidden">狗算是一种家畜。以其忠诚与忠心广受人类欢迎, 可以在世界各地的许多家庭里发现这个受欢迎的客人。</p>
    <p class="transition hidden"><a href="page">进入</a></p> 
  </div>
</div>
<!-- End Part I -->
</div>

</body>

