
<!DOCTYPE html>
<html>

<head>
    <title>Hello Semantic!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script src="../static/semantic.min.js"></script>

    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
        $('.menu .item').tab();
        $('.ui.accordion').accordion();
     });
    </script>


    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    p.spec {
      color:black;
    }
    </style>
 




</head>

<body>
  <!-- header menu-->
    {% include "HeaderMenu.html"%}
<!-- mainContainer -->
  <div class = "ui main container">
    <h5 class = "ui header" ><a href="#">>学校专区<a href="school">>中山大学<a href="#">>所有课程<a href="#">>高性能程序设计基础:</h5>
      <div class="ui raised very padded text container segment">
        <h2 class="ui header">高性能程序设计基础</h2>
        <p>
          讲授OpenMP、PThreads和MPI的编程方法
        </p>
        <img src="../static/images/HighPerformance.png">

      <div class="ui three item stackable tabs menu">
        <a class="active item" data-tab="introduction">课程表</a>
        <a class="item" data-tab="material">课程资料</a>
        <a class="item" data-tab="disscus">课程讨论</a>
      </div>
<!-- Introduction Part -->
      <div class="ui active tab" data-tab="introduction">

        <div class="ui main container">

          <h2 class="ui dividing header">课程表</h2>

          <div class="introduction">

            <h3 class="ui header"><a href="course">Week 1: OpenMP基础</a></h3>

            <p>这节课主要讲了OpenMP的基本语法</p>

</div>
  </div>
</div>
<!-- End introduction part -->
<!-- material part -->
<div class="ui tab" data-tab="material">

  <div class="ui main container">

    <h2 class="ui dividing header">课程资料</h2>

      <h3 class="ui header">Week 1: OpenMP基础</a></h3>
      <p><a href="#">pdf</a></p>
      <p><a href="#">pdf</a></p>

  </div>
</div>
<!-- End material part -->
<!-- disscus part -->
<div class="ui tab" data-tab="disscus">

  <div class="ui main container">

    <h2 class="ui dividing header">课程讨论</h2>

      <div class="ui comments">
          <h3 class="ui dividing header">讨论</h3>
            <div class="comment">
            <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
            </a>
          <div class="content">
          <a class="author">Matt</a>
          <div class="metadata">
          <span class="date">今天下午 5:42</span>
          </div>
      <div class="text">太赞了！ </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button"><i class="icon edit"></i>回复</div>
  </form>
</div>

  </div>
</div>
<!-- end disscus part -->

      </div>

</body>
    
</html>