
<!DOCTYPE html>
<html>

<head>
    <title>Hello Semantic!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../static/semantic.js"></script>

    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
        
    });
    </script>



    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
    ;
  </script>
 <script>
   $('.menu .item').on('click', function() {   
  $(this)
    .addClass('active')
    .siblings()
    .removeClass('active'); 
    })
 </script>
</head>

<body>
  <!-- header menu-->
    <div class="ui inverted main menu">
        <div class="ui  container">
            <div class="header item"><i class = "lemon icon"></i>Lemon Tea</div>
            <a href="index" class="item">主页</a>
            <a class="item" href="identity">个人中心</a>
            <a class="item" href="shop">资源购买专区</a>
            <a class="item" href="study">学习社区</a>
            <div class="ui dropdown item" tabindex="0">
                学校专区<i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item" href="#">中山大学</div>
                    <div class="item">敬请期待</div>
                    <div class="item">敬请期待</div>
                    <div class="divider"></div>
                </div>
            </div>
            <a class="item" href="share">资源共享专区</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <a class="active item">登录/注册</a>
            </div>
        </div>
    </div>
<!-- mainContainer -->
  <div class = "ui main container">
    <h5 class = "ui header" >学校专区>中山大学>所有课程>高性能程序设计基础:</h5>
      <div class="ui raised very padded text container segment">
        <h2 class="ui header">高性能程序设计基础</h2>
        <p>
          讲授OpenMP、PThreads和MPI的编程方法
        </p>
        <img src="../static/images/HighPerformance.png">

      <div class="ui three item stackable tabs menu">
        <a class="active item" data-tap="introduction">课程表</a>
        <a class="item" data-tap="material">课程资料</a>
        <a class="item" data-tap="disscus">课程讨论</a>
      </div>
<!-- Introduction Part -->
      <div class="ui active intro tab" data-tab="introduction">

        <div class="ui main container">

          <h2 class="ui dividing header">课程表</h2>

          <div class="introduction">

            <h3 class="ui header"><a href="#">Week 1: OpenMP基础</a></h3>

            <p>这节课主要讲了OpenMP的基本语法</p>
          
          </div>
        </div>
      </div>
<!-- End introduction part -->
<!-- material part -->
<div class="ui tab" data-tab="definition">

  <div class="ui main container">

    <h2 class="ui dividing header">Types</h2>

    <div class="no example">
      <h4 class="ui header">Container</h4>
      <p>A standard container</p>
    </div>

    <div class="ui ignored code">
      <div class="ui container">
        <p></p>
      </div>
    </div>

  </div>

  <div class="ui container">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit. Aenean commodo ligula eget dolor. Aenean massa
    <strong>strong</strong>. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque
    eu, pretium quis, sem. Nulla consequat massa quis
    enim. Donec pede justo, fringilla vel, aliquet nec,
    vulputate eget, arcu. In enim justo, rhoncus ut,
    imperdiet a, venenatis vitae, justo. Nullam dictum
    felis eu pede <a href="#">link</a>
    mollis pretium. Integer tincidunt. Cras dapibus.
    Vivamus elementum semper nisi. Aenean vulputate
    eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim. Aliquam lorem ante,
    dapibus in, viverra quis, feugiat a, tellus. Phasellus
    viverra nulla ut metus varius laoreet. Quisque rutrum.
    Aenean imperdiet. Etiam ultricies nisi vel augue.
    Curabitur ullamcorper ultricies nisi.</p>
  </div>

  <div class="ui main container">

    <div class="no example">
      <h4 class="ui header">Text Container</h4>
      <p>A container can reduce its maximum width to more naturally accomodate a single column of text</p>
      <div class="ui info message">
        A text container is a simpler markup alternative to using a grid with a single column, and is designed to have a reasonable maximum width for displaying flowing text
      </div>
    </div>

    <div class="ui ignored code">
      <div class="ui text container">
      </div>
    </div>
  </div>

  <div class="ui text container">
    <h2 class="ui header">Header</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit. Aenean commodo ligula eget dolor. Aenean massa
    <strong>strong</strong>. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque
    eu, pretium quis, sem. Nulla consequat massa quis
    enim. Donec pede justo, fringilla vel, aliquet nec,
    vulputate eget, arcu. In enim justo, rhoncus ut,
    imperdiet a, venenatis vitae, justo. Nullam dictum
    felis eu pede <a href="#">link</a>
    mollis pretium. Integer tincidunt. Cras dapibus.
    Vivamus elementum semper nisi. Aenean vulputate
    eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim. Aliquam lorem ante,
    dapibus in, viverra quis, feugiat a, tellus. Phasellus
    viverra nulla ut metus varius laoreet. Quisque rutrum.
    Aenean imperdiet. Etiam ultricies nisi vel augue.
    Curabitur ullamcorper ultricies nisi.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit. Aenean commodo ligula eget dolor. Aenean massa
    <strong>strong</strong>. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque
    eu, pretium quis, sem. Nulla consequat massa quis
    enim. Donec pede justo, fringilla vel, aliquet nec,
    vulputate eget, arcu. In enim justo, rhoncus ut,
    imperdiet a, venenatis vitae, justo. Nullam dictum
    felis eu pede <a href="#">link</a>
    mollis pretium. Integer tincidunt. Cras dapibus.
    Vivamus elementum semper nisi. Aenean vulputate
    eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim. Aliquam lorem ante,
    dapibus in, viverra quis, feugiat a, tellus. Phasellus
    viverra nulla ut metus varius laoreet. Quisque rutrum.
    Aenean imperdiet. Etiam ultricies nisi vel augue.
    Curabitur ullamcorper ultricies nisi.</p>
  </div>

  <div class="ui main container">


    <h2 class="ui dividing header">Variations</h2>

    <div class="no example">
      <h4 class="ui header">Text Alignment</h4>
      <p>A container can specify its text alignment</p>

    </div>

    <div class="ui ignored code">
      <div class="ui left aligned container">
        <p></p>
      </div>
      <div class="ui center aligned container">
        <p></p>
      </div>
      <div class="ui right aligned container">
        <p></p>
      </div>
      <div class="ui justified container">
        <p></p>
      </div>
    </div>

    <div class="ui left aligned container">
      Left Aligned
    </div>
    <div class="ui center aligned container">
      Center Aligned
    </div>
    <div class="ui right aligned container">
      Right Aligned
    </div>
    <div class="ui justified container">
      <b>Justified</b>
      <div class="ui divider"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
      elit. Aenean commodo ligula eget dolor. Aenean massa
      <strong>strong</strong>. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus
      mus. Donec quam felis, ultricies nec, pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis
      enim. Donec pede justo, fringilla vel, aliquet nec,
      vulputate eget, arcu. In enim justo, rhoncus ut,
      imperdiet a, venenatis vitae, justo. Nullam dictum
      felis eu pede <a href="#">link</a>
      mollis pretium. Integer tincidunt. Cras dapibus.
      Vivamus elementum semper nisi. Aenean vulputate
      eleifend tellus. Aenean leo ligula, porttitor eu,
      consequat vitae, eleifend ac, enim. Aliquam lorem ante,
      dapibus in, viverra quis, feugiat a, tellus. Phasellus
      viverra nulla ut metus varius laoreet. Quisque rutrum.
      Aenean imperdiet. Etiam ultricies nisi vel augue.
      Curabitur ullamcorper ultricies nisi.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
      elit. Aenean commodo ligula eget dolor. Aenean massa
      <strong>strong</strong>. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus
      mus. Donec quam felis, ultricies nec, pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis
      enim. Donec pede justo, fringilla vel, aliquet nec,
      vulputate eget, arcu. In enim justo, rhoncus ut,
      imperdiet a, venenatis vitae, justo. Nullam dictum
      felis eu pede <a href="#">link</a>
      mollis pretium. Integer tincidunt. Cras dapibus.
      Vivamus elementum semper nisi. Aenean vulputate
      eleifend tellus. Aenean leo ligula, porttitor eu,
      consequat vitae, eleifend ac, enim. Aliquam lorem ante,
      dapibus in, viverra quis, feugiat a, tellus. Phasellus
      viverra nulla ut metus varius laoreet. Quisque rutrum.
      Aenean imperdiet. Etiam ultricies nisi vel augue.
      Curabitur ullamcorper ultricies nisi.</p>
    </div>

    <div class="no example">
      <h4 class="ui header">Fluid</h4>
      <p>A fluid container has no maximum width</p>
      <div class="ui info message">Fluid containers are useful for setting text alignment, or other variations on unstyled content</div>

      <div class="ui ignored code">
        <div class="ui fluid container">
          Fluid
        </div>
      </div>
    </div>

  </div>

  <div class="ui fluid container">
    <h2 class="ui header">Dogs Roles with Humans</h2>
    <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
    <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
  </div>

  <div class="ui main container"></div>

</div>
<!-- End material part -->
      </div>

</body>
    
</html>