{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ course.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    <script src="{% static 'semantic.min.js' %}"></script>

    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
        $('.menu .item').tab();
        $('.ui.accordion').accordion();
     });
    </script>


    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    p.spec {
      color:black;
    }
    </style>
 




</head>

<body>
  <!-- header menu-->
    {% include "HeaderMenu.html"%}
<!-- mainContainer -->
  <div class = "ui main container" style= "width:80rem">
    <h5 class = "ui header" ><a href="#">>学校专区<a href="school">>中山大学<a href="#">>所有课程<a href="#">>{{ course.title }}:</h5>
      <div class="ui raised very padded text container segment" style= "width:75rem">
        <h2 class="ui header">{{ course.title }}</h2>
        <p>
          {{ course.description }}
        </p>

          <img src= "/LemonApp/media/{{ course.image }}" style="height:120px;width:180px;object-fit:cover;"></a>

      <div class="ui three item stackable tabs menu">
        <a class="active item" data-tab="introduction">课程表</a>
        <a class="item" data-tab="material">课程资料</a>
        <a class="item" data-tab="disscus">课程讨论</a>
      </div>
<!-- Introduction Part -->
      <div class="ui active tab" data-tab="introduction">

        <div class="ui main container">

          <h2 class="ui dividing header">课程表</h2>

          <div class="introduction">
            {% for chapter in chapter_list %}
              <h3 class="ui header">第{{ chapter.chapter_order }}章：{{ chapter.title }}</h3>
              <p>{{ chapter.description }}</p>
            {% endfor %}
            <h3 class="ui header"><a href="add_chapter/">(按钮)添加章节</a></h3>
          </div>
        </div>
      </div>
<!-- End introduction part -->
<!-- material part -->
<div class="ui tab" data-tab="material">

  <div class="ui main container">

    <h2 class="ui dividing header">课程资料</h2>
      {% for chapter in chapter_list %}
        <h3 class="ui header">第{{ chapter.chapter_order }}章：{{ chapter.title }} <a href="chapter/{{ chapter.id }}/add_ppt/">添加PPT</a></h3>
        {%for ppt in ppt_list %} 
          {% if ppt.chapter_id.id == chapter.id %}
            <p><a href="chapter/{{ chapter.id }}/ppt/{{ ppt.id }}/">{{ ppt.ppt_order }}. {{ ppt.title }}</a></p>
            <p><a href="/LemonApp/media/{{ ppt.file }}">下载</a></p>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </div>
</div>
<!-- End material part -->
<!-- disscus part -->
<div class="ui tab" data-tab="disscus">

  <div class="ui main container">

    <h2 class="ui dividing header">课程讨论</h2>

    <div class="ui comments">
          <h3 class="ui dividing header">讨论</h3>
            <div class="comment">
              <a class="avatar">
              <img src="/images/avatar/small/matt.jpg">
              </a>
                <div class="content">
                  <a class="author">Matt</a>
                  <div class="metadata">
                  <span class="date">今天下午 5:42</span>
                  </div>
                <div class="text">太赞了！ </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
            </div>
       </div>
    </div>
      <form class="ui reply form">
        <div class="field">
            <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button"><i class="icon edit"></i>回复</div>
      </form>
</div>
<!-- end disscus part -->

      </div>

</body>
    
</html>