{% load static %}
<!DOCTYPE html>

<html>



<head>


    <title>Courses</title>


    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    
    <link rel="icon" href="/LemonApp/media/logo.jpg"  type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'semantic.js' %}"></script>

    <script>

    $(document).ready(function() {

        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示

        $('.dropdown.item').dropdown({

            on: 'hover'

        });

    });

    </script>





    <script src="{% static 'components/form.js' %}"></script>

    <script src="{% static 'components/transition.js' %}"></script>



    <style type="text/css">

    body {

      background-color: #DADADA;

    }

    body > .grid {

      height: 100%;

    }

    .image {

      margin-top: -100px;

    }

    .column {

      max-width: 450px;

    }
        p.spec {
        color:black;
    }
    </style>



</head>



<body>
<!-- header menu-->
	{% include "HeaderMenu.html"%}
<!-- MainBody -->

<div class = "ui main container">

  <h5 class="ui header">><a href="/colleges/">学校专区</a>>{{ college.name }}</h5>

<div class="ui two column doubling stackable grid container">
{% for course in CourseList %}
  <div class="column">

<div class="ui items">

  <div class="item">

    <div class="image">

      <a href="course/{{ course.id }}/"><img src= "/LemonApp/media/{{ course.image }}" style="height:120px;width:180px;object-fit:cover;"></a>

    </div>

    <div class="content">

      <a href="course/{{ course.id }}/" class="header">{{ course.title }}</a>

      <div class="meta">

        <span>{{ course.description }}</span>

      </div>

      <div class="description">

        <p></p>

      </div>

      <div class="extra">授课老师：{{ course.teacher }} </div>

      <div class="extra">课程号：{{ course.course_identifier }} </div>

    </div>

  </div>

</div>

  </div>
{% endfor %}
{% if request.user.permission >= 3 %}
<div class="column">

<div class="ui items">

  <div class="item">

    <div class="image">
      <a href="create_course/"><button class="ui button" style="height:120px;width:180px;object-fit:cover;"">新建课程<i class="plus icon" style="margin-left:28px;margin-top:40px;font-size:70px"></i></button></a>
    </div>


  </div>

</div>

  </div>
{% endif %}


  <div class="column">

    <p></p>

    <p></p>

  </div>

</div>



</div>

<!-- End MainBody -->

</body>

    

</html>