{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Create Course</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/LemonApp/media/logo.jpg"  type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'semantic.js' %}"></script>
    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
    });
    </script>

    <script src="{% static 'components/form.js' %}"></script>
    <script src="{% static 'components/transition.js' %}"></script>

    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    p.spec {
      color:black;
    }
    </style>
	<script>
	$(document)
	.ready(function() {
	  $('.ui.form')
	    .form({
	      fields: {
	        course_identifier: {
	          identifier  : 'course_identifier',
	          rules: [
	            {
	              type   : 'empty',
	              prompt : 'Please enter the course_id'
	            }
	          ]
	        },
	        title: {
	          identifier  : 'title',
	          rules: [
	            {
	              type   : 'empty',
	              prompt : 'Please enter the title'
	            }
	          ]
	        },
	        description: {
	          identifier  : 'description',
	          rules: [
	            {
	              type   : 'empty',
	              prompt : 'Please enter the description'
	            }
	          ]
	        },
	        teacher: {
	          identifier  : 'teacher',
	          rules: [
	            {
	              type   : 'empty',
	              prompt : "Please enter the teacher's name"
	            }
	          ]
	        }
	      }
	    })
	  ;
	})
	;
	</script>
<body>
    {% include "HeaderMenu.html"%}
    <div class="ui main container">
      <div class="ui internally celled grid">
          <!--第一列-->
          <div class="four wide column"></div>           
          <!--第2列-->
          <div class="six wide column">
            <div class="ui stacked segment">
              <h2 class="ui header" style="margin-left:140px">新建课程</h2>
              <div class="ui divider"></div>
              <form action="{{ path }}" method="post" class="ui form" enctype="multipart/form-data">
                {% csrf_token %}
                
                  <div class="field">
                      <h5 class="ui header">课程号:</h5>
                      {{ form.course_identifier }}
                  </div>
                  <div class="field">
                      <h5 class="ui header">课程标题:</h5>
                      {{ form.title }}
                  </div>
                  <div class="field">
                      <h5 class="ui header">课程封面(非必需):</h5>
                      {{ form.image }}
                  </div>
                  <div class="field">
                      <h5 class="ui header">课程描述:</h5>
                      {{ form.description }}
                  </div>
                  <div class="field">
                      <h5 class="ui header">老师:</h5>
                      {{ form.teacher }}
                  </div>
                  <button class="ui primary submit button" style="margin-left:80px">创建课程</button>
                  <a class="ui button" href="goback" style="margin-left:20px">取消</a>
                <div class="ui error message"></div>
              </form>
              {% if form.course_identifier.errors %}
                <div class="ui error message">
                  <ul class="list">
                    {% for i in form.course_identifier.errors %}
                      <li>{{i|escape}}</li>
                    {% endfor%}
                  </ul>
                </div>
              {% endif%}
            </div>
          </div>
          <!--第3列-->
          <div class="six wide column"></div>
      </div>
    </div>
</body>
</html>