<!DOCTYPE html>
<html>

<head>
    <title>Hello Semantic!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../static/semantic.js"></script>
    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
    });
    </script>


    <script src="assets/library/jquery.min.js"></script>
    <script src="../static/components/form.js"></script>
    <script src="../static/components/transition.js"></script>

    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    p.spec {
      color:black;
    }
    </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            course_identifier: {
              identifier  : 'course_identifier',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter the course_id'
                }
              ]
            },
            title: {
              identifier  : 'title',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter the title'
                }
              ]
            },
            description: {
              identifier  : 'description',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter the description'
                }
              ]
            },
            teacher: {
              identifier  : 'teacher',
              rules: [
                {
                  type   : 'empty',
                  prompt : "Please enter the teacher's name"
                }
              ]
            }
          }
        })
      ;
    })
    ;
  </script>
</head>

<body>
<!-- header menu-->
    {% include "HeaderMenu.html"%}
<!-- mainBODY -->
    <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content icon">
       新建课程
      </div>
    </h2>
   <form action="{{ path }}" method="post" class="ui large form" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            {{ form.course_identifier }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.title }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.image }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.description }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ form.teacher }}
          </div>
        </div>
        <div class="ui fluid large teal submit button">新建课程</div>
      </div>

      <div class="ui error message"></div>

    </form>
    {% if form.course_identifier.errors %}
    <div class="ui error message">
      <ul class="list">
        {% for i in form.course_identifier.errors %}
          <li>{{i|escape}}</li>
        {% endfor%}
      </ul>
    </div>
    {% endif%}

  </div>
</div>
<!-- ENDMainBody -->
</body>
    
</html>