    <!-- header menu-->


    <div class="ui inverted large head main menu ">
        <div class="ui  container">
            <div class="header item">Lemon Tea</div>
            <a href="/" class="item">主页</a>
            <a class="item" href="identity">个人中心</a>
            <a class="item" href="shop">资源购买专区</a>
            <div class="ui dropdown item" tabindex="0">
                学习社区<i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item"><a href="community"><p class="spec">经济学</p></a></div>
                    <div class="item"><a href="community"><p class="spec">计算机</p></a></div>
                    <div class="item"><a href="community"><p class="spec">数学</p></a></div>
                    <div class="item"><a href="community"><p class="spec">外语</p></a></div>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="ui dropdown item" tabindex="0">
                学校专区<i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item"><a href="school"><p class="spec">中山大学</p></a></div>
                    <div class="item"><a href="#"><p class="spec">敬请期待</p></a></div>
                    <div class="divider"></div>
                </div>
            </div>
            <a class="item" href="share">资源共享专区</a>


            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <a class="item">退出登录</a>
            </div>
        </div>
    </div>
    