<!DOCTYPE html>
<html>

<head>
    <title>Lemon Tea!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../static/semantic.js"></script>
    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
        $('.menu .item').tab();
        $('.ui.accordion').accordion();
        $('.ui.sticky').sticky({context: '#example1'});
    });
    </script>
    <style>
    p.spec{
    	color:black;
    }
</style>

</head>