<!DOCTYPE html>
<html>

<head>
    <title>Hello Semantic!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../static/semantic.js"></script>
    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
    });
    </script>

</head>

<body>
	<!-- header menu-->
    <div class="ui inverted main menu">
        <div class="ui  container">
            <div class="header item">Lemon Tea</div>
            <a href="index" class="item">主页</a>
            <a class="active item" href="identity">个人中心</a>
            <a class="item" href="shop">资源购买专区</a>
            <a class="item" href="study">学习社区</a>
            <div class="ui dropdown item" tabindex="0">
                学校专区<i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item">中山大学</div>
                    <div class="item">敬请期待</div>
                    <div class="item">敬请期待</div>
                    <div class="divider"></div>
                </div>
            </div>
            <a class="item" href="share">资源共享专区</a>


            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <a class="item">退出登录</a>
            </div>
        </div>
    </div>
</body>

</html>