{%include "head.html"%}
{% load static %}
{% load i18n %}
{% load humanize %}
<body>
	{% include "HeaderMenu.html"%}

	<div class = "ui main container">
		<!-- 帖子主题 -->
      <div class="ui breadcrumb">
    <a class="section" href = "{% url 'create_forums' %}"> <<返回 </a>
      </div>
		    <div class="ui segment" id="example1">
    		  <div class="ui sticky" >
            <a class = "avatar" style="float:left">
              <img src = " /LemonApp/media/{{ article.createuser.face }}">
            </a>
            <div class = "content" >
              <a class = "author" >{{article.create_user.username}}</a>
              <div clas="metadata">
              <i class = "calendar icon"></i><span class = "date"> {{article.create_date|naturaltime}}</span>
              </div>
      			</div>
            <h3 class="ui header">{{ article.title }}</h3>
      			<p>{{ article.get_content_as_markdown|safe }}</p>
    		</div>
   		</div>
   		<!--  End 帖子主题-->
		<div class="ui comments">
          <h3 class="ui dividing header" style="width:80rem">讨论</h3>

              {% for comment in article.get_comments %}
                {% include 'partial_article_comment.html' with comment=comment %}
              {% endfor %}

<!--             <div class="comment">
              <a class="avatar">
              <img src="/images/avatar/small/matt.jpg">
              </a>
                <div class="content">
                  <a class="author">Matt</a>
                  <div class="metadata">
                  <span class="date">今天下午 5:42</span>
                  </div>
                <div class="text" style="width:80rem">太赞了！ </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
            </div> -->

 		 </div>

  		<form action="{% url 'comment' %}" method="post" class="ui reply form">
         {% csrf_token %}
          <input type="hidden" name="article" value="{{ article.pk }}">
    		    <div class="field" style="width:80rem">                
      			   <textarea placeholder ="{% trans 'Write a comment...' %}" name="comment" id="comment"></textarea>
    		    </div>
    		<button  class="ui blue labeled submit icon button"><i class="icon edit"></i>回复</button>
  		</form>
</div>

	</div>
</body>
</html>