{% load static %}
{%include "head.html"%}
<script>
$(document)
  .ready(function() {
    $('.ui.form')
      .form({
        fields: {
          username: {
            identifier  : 'username',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter the username'
              }
            ]
          },
          email: {
            identifier  : 'email',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter the email'
              }
            ]
          },
          face: {
            identifier  : 'face',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please select a image'
              }
            ]
          }
        }
      })
    ;
  })
  ;
</script>
<body>
    {% include "HeaderMenu.html"%}
    <div class="ui main container">
        <div class="ui internally celled grid">
            <!--第一列-->
            <div class="four wide column">
                <div class="ui vertical menu">
                    <a class="active teal header item">账户设置 </a>                    
                    <a class="active item">基本信息 </a> 
                    
                    <a class="item">个人动态 <div class="ui label">51</div></a>
                    <a class="item" href="bind_college">绑定账户 </a>                 
                </div>
            </div>
            <!--第2列-->
            <div class="six wide column">
                <h2 class="ui header">基础信息</h2>
                <div class="ui divider"></div>
                <form action="{{ path }}" method="post" class="ui large form">
                {% csrf_token %}
                    <p>
                        <h4 class="ui header">用户名:</h4>
                        <i class="user icon"></i>
                        <div class="ui input">
                            {{ form.username }}
                        </div>
                    </p>
                    <p>
                        <h4 class="ui header">Email:</h4>
                        <i class="mail icon"></i>
                        <div class="ui input">
                            {{ form.email }}
                        </div>
                    </p>
                    <button class="ui primary submit button" style="margin-top:60px;margin-left:100px">保存修改</button>
                    <a class="ui button" href="/identity/">取消修改</a>
                    <div class="ui error message"></div>
                </form>
                {% if form.username.errors %}
                  <div class="ui error message">
                    <ul class="list">
                      {% for i in form.username.errors %}
                        <li>{{i|escape}}</li>
                      {% endfor%}
                    </ul>
                  </div>
                {% endif%}
            </div>
            <!--第3列-->
            <div class="four wide column">
                <div class="ui segment">
                    <a href="#" class="ui centered medium image">
                        <img src="/LemonApp/media/{{ request.user.face }}">
                    </a>
                </div>
                <form action="change_face" method="post" class="ui form" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="field">
                          <h5 class="ui header">更改头像:</h5>
                          <input type="file" name="face" placeholder="选择头像" required id="face" />
                      <button class="ui primary submit button" style="margin-top:10px;margin-left:90px">保存</button>
                      <a class="ui button" href="/identity/">取消</a>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>