{%include "head.html"%}
<script>
$(document)
  .ready(function() {
    $('.ui.form')
      .form({
        fields: {
          college: {
            identifier  : 'college',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter the college'
              }
            ]
          },
          status: {
            identifier  : 'status',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter the status'
              }
            ]
          },
          card_number: {
            identifier  : 'card_number',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter the card_number'
              }
            ]
          }
        }
      })
    ;
  })
  ;
</script>
<body>
    {% include "HeaderMenu.html"%}
    <div class="ui main container">
        <div class="ui internally celled grid">
            <!--第一列-->
            <div class="four wide column">
                <div class="ui vertical menu">
                    <a class="active teal header item">账户设置 </a>                    
                    <a class="item" href="modify_info">基本信息 </a> 
                    <a class="item">个人动态 <div class="ui label">51</div></a>
                    <a class="active item">绑定账户</a>                 
                </div>
            </div>
            <!--第2列-->
            <div class="ten wide column">
                <h2 class="ui header">绑定账户</h2>
                <div class="ui divider"></div>
                {% if request.user.card_number == "-1" %}
                    <form action="{{ path }}" method="post" class="ui large form">
                    {% csrf_token %}
                    <p>
                        <h4 class="ui header">大学:</h4>
                        {{ form.college }}
                        <h4 class="ui header">身份:</h4>
                        {{ form.status }}
                        <h4 class="ui header">证件号(学号/教工号):</h4>
                        <div class="ui input">
                            {{ form.card_number }}
                        </div>
                    </p>
                        <button class="ui primary submit button" style="margin-top:60px;margin-left:100px">绑定</button>
                        <div class="ui error message"></div>
                    </form>
                    {% if form.card_number.errors %}
                      <div class="ui error message">
                        <ul class="list">
                          {% for i in form.card_number.errors %}
                            <li>{{i|escape}}</li>
                          {% endfor%}
                        </ul>
                      </div>
                    {% endif%}
                {% else %}
                    <div class="ui segment">
                        <div class="content">
                            <h4 class="header"><i class="student icon"></i>学校:   {{ college_name }}</h4>
                        </div>
                    </div>
                    {% if request.user.permission == 2 %}
                        <div class="ui segment">
                            <div class="content">
                                <h4 class="header"><i class="user icon"></i>身份:   学生</h4>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="content">
                                <h4 class="header"> <i class="mail icon"></i>学号:   {{ request.user.card_number }}</h4>
                            </div>
                        </div>
                    {% elif request.user.permission == 3 %}
                        <div class="ui segment">
                            <div class="content">
                                <h4 class="header"><i class="user icon"></i>身份:   老师</h4>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="content">
                                <h4 class="header"> <i class="lock icon"></i>教工号:   {{ request.user.card_number }}</h4>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
            <!--第3列-->
            
        </div>
    </div>
</body>
</html>