{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ course.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/LemonApp/media/logo.jpg"  type="image/jpg">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    <script src="{% static 'semantic.min.js' %}"></script>

    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
        $('.menu .item').tab();
        $('.ui.accordion').accordion();
     });
    </script>
</head>

<body>
    <div class="ui raised very padded text container" style="width: 80rem">
        <a href="/college/{{ college.id }}/course/{{ course.id }}/">{{ course.title }}</a>
        <p>{{ chapter.title }}</p>
        <p>{{ ppt.title }} </p>

        <p>{{page_num}}</p>
    

    <h4 class="ui horizontal divider header"><i class="tag icon"></i> 讨论区 </h4>

    <div class="ui raised very padded text container">

        <h2 class="ui dividing header">列表</h2>

        <div class="ui comments">
              {% if ppt_comment_list %}
                  {% for ppt_comment in ppt_comment_list %}
                    <div class="comment">
                      <a class="avatar">
                      <img src="/LemonApp/media/{{ ppt_comment.account_id.face }}">
                      </a>
                        <div class="content">
                          <div class="author">{{ ppt_comment.account_id.username }} 
                          {% if request.user.permission >= 10 %}
                            <a class="mini ui button" href="comment/{{ ppt_comment.id }}/delete_comment/" style="margin-left:350px">删除</a>
                          {% elif request.user.id == ppt_comment.account_id.id %}
                            <a class="mini ui button" href="comment/{{ ppt_comment.id }}/delete_comment/" style="margin-left:350px">删除</a>
                          {% endif %}
                          </div>
                          <div class="metadata">
                          <span class="date">{{ ppt_comment.date|naturaltime }}</span>
                          </div>
                        <div class="text">{{ ppt_comment.content }}</div>
                    </div>
                    <div class="ui divider"></div>
                  {% endfor %}
              {% else %}
                <div class="comment">
                  <p>暂无讨论</p>
                </div>
              {% endif %}
           </div>
            <h3 class="ui dividing">发表</h3>
          <form action="add_comment/" method="post" class="ui large form">
            {% csrf_token %}
            <div class="ui stacked segment">
              <div class="field">
                  <textarea name="content" cols="40" rows="6" placeholder="输入你的讨论内容" maxlength="200" required id="content"></textarea>
              </div>
              <button class="ui primary submit button" style="margin-left:450px">提交</button>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
        
    </div>

    </div>
</body>

</html>