
<!DOCTYPE html>

<html>



<head>

    <title>Hello Semantic!</title>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <link rel="stylesheet" type="text/css" href="../static/semantic.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

    <script src="../static/semantic.js"></script>

    <script>

    $(document).ready(function() {

        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示

        $('.dropdown.item').dropdown({

            on: 'hover'

        });

    });

    </script>





    <script src="assets/library/jquery.min.js"></script>

    <script src="../static/components/form.js"></script>

    <script src="../static/components/transition.js"></script>



    <style type="text/css">

    body {

      background-color: #DADADA;

    }

    body > .grid {

      height: 100%;

    }

    .image {

      margin-top: -100px;

    }

    .column {

      max-width: 450px;

    }
        p.spec {
        color:black;
    }
    </style>



</head>



<body>

	{% include "HeaderMenu.html"%}
<!-- MainBody -->

<div class = "ui main container">

  <h5 class="ui header">学校专区><a href="school">中山大学</a>>所有课程:</h5>

<div class="ui two column doubling stackable grid container">

  <div class="column">

<div class="ui items">

  <div class="item">

    <div class="image">

      <img src="../static/images/HighPerformance.png">

    </div>

    <div class="content">

      <a href="course" class="header">高性能计算程序设计基础</a>

      <div class="meta">

        <span>讲授OpenMP、PThreads和MPI的编程方法</span>

      </div>

      <div class="description">

        <p></p>

      </div>

      <div class="extra">授课老师：吴俊峰 </div>

    </div>

  </div>

</div>

  </div>

  <div class="column">

<div class="ui items">

  <div class="item">

    <div class="image">

      <img src="../static/images/HighPerformance.png">

    </div>

    <div class="content">

      <a class="header">高性能计算程序设计基础</a>

      <div class="meta">

        <span>讲授OpenMP、PThreads和MPI的编程方法</span>

      </div>

      <div class="description">

        <p></p>

      </div>

      <div class="extra">授课老师：吴俊峰 </div>

    </div>

  </div>

</div>

  </div>

  <div class="column">

<div class="ui items">

  <div class="item">

    <div class="image">

      <img src="../static/images/HighPerformance.png">

    </div>

    <div class="content">

      <a class="header">高性能计算程序设计基础</a>

      <div class="meta">

        <span>讲授OpenMP、PThreads和MPI的编程方法</span>

      </div>

      <div class="description">

        <p></p>

      </div>

      <div class="extra">授课老师：吴俊峰 </div>

    </div>

  </div>

</div>

  </div>

  <div class="column">

    <p></p>

    <p></p>

  </div>

</div>



</div>

<!-- End MainBody -->

</body>

    

</html>