{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>提示!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="{% static 'semantic.js' %}"></script>
    <script>
    $(document).ready(function() {
        // 鼠标放到 dropdown 时显示下拉菜单，默认只有点击后才显示
        $('.dropdown.item').dropdown({
            on: 'hover'
        });
    });
    </script>


    <script src="assets/library/jquery.min.js"></script>
    <script src="{% static 'components/form.js' %}"></script>
    <script src="{% static 'components/transition.js' %}"></script>

    <style type="text/css">
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    p.spec {
      color:black;
    }
    </style>
</head>

<body>
<!-- header menu-->
    {% include "HeaderMenu.html"%}
<!-- mainBODY -->
    <div class="ui middle aligned center aligned grid">
  <div class="column">
    {% if error_type %}
      <div class="ui error message">
        <h2>提示</h2>
        <div class="ui divider"></div>
        {%if error_type == 1 %}
          <ul class="list">
            <li><h3>若已有账号, 请先登陆</h3></li>
            <li><h3>若没有账号, 请先注册</h3></li>
          </ul>
        {% elif error_type == 2 %}
          <h4>本专区只对合作院校的学生和老师开放, 如果您是以下院校的学生或老师, 请先进入个人中心绑定学号/教工号</h4>
          <ul class="list">
            {% for college in college_list %}
              <li><h4>{{ college.name }}</h4></li>
            {% endfor %}
          </ul>
        {% elif error_type == 3 %}
          <ul class="list">
            <li><h3>抱歉，您访问的院校不存在</h3></li>
          </ul>
        {% elif error_type == 4 %}
          <ul class="list">
            <li><h3>抱歉，您没有权限访问此院校</h3></li>
            <li><h3>如果您是此院校的学生或老师, 请先进入个人中心绑定学号/教工号</h3></li>
          </ul>
        {% elif error_type == 5 %}
          <ul class="list">
            <li><h3>抱歉，在此您没有权限创建课程</h3></li>
          </ul>
        {% elif error_type == 6 %}
          <ul class="list">
            <li><h3>抱歉，您访问的课程不存在</h3></li>
          </ul>
        {% elif error_type == 7 %}
          <ul class="list">
            <li><h3>抱歉，在此您没有权限添加章节</h3></li>
          </ul>
        {% elif error_type == 8 %}
          <ul class="list">
            <li><h3>抱歉，您访问的章节不存在</h3></li>
          </ul>
        {% elif error_type == 9 %}
          <ul class="list">
            <li><h3>抱歉，在此您没有权限添加ppt</h3></li>
          </ul>
        {% elif error_type == 10 %}
          <ul class="list">
            <li><h3>抱歉，您访问的ppt不存在</h3></li>
          </ul>
        {% endif %}
      </div>
    {% endif %}


  </div>
</div>
<!-- ENDMainBody -->
</body>
    
</html>